* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --dark-color-text: #fff;
  --dark-bgcolor: #;
  --light-color-text: #;
  --light-bgcolor: #;
  --color-text-inactive: #;

}
body {
  font-family: "Josefin Sans";
  font-size: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: aliceblue;
  padding-top: 50px;
}

main {
  width: 40vw;
}
header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
h1 {
  letter-spacing: 10px;
}
input[type="checkbox"] {
  border-radius: 100%;
}

.todo-footer {
  display: flex;
  justify-content: space-between;
}
.filter-links {
  display: flex;
  justify-content: space-between;
  column-gap: 10px;
}
.link-text {
  cursor: pointer;
  color: var(--color-text-inactive);
  font-weight: bold;
}