* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --dark-color-text: #fff;
  --dark-bgcolor: hsl(235, 21%, 11%);
  --dark-bgcolor-faded: hsl(235, 24%, 19%);
  --dark-bg-image: url("images/bg-desktop-dark.jpg");
  --light-color-text: #;
  --light-bgcolor: hsl(0, 0%, 98%);
  --light-bg-image: url("images/bg-desktop-light.jpg");
  --color-text-inactive: hsl(236, 33%, 92%);
  --color-text-inactive-bold: hsl(233, 11%, 84%);
  --mobile-dark-bg-image: url("images/bg-mobile-dark.jpg");
  --mobile-light-bg-image: url("images/bg-mobile-light.jpg")
}
.hidden {
  display: none;
}
li {
  list-style: none;
}
body {
  background-image: var(--light-bg-image);
  background-color: var(--light-bgcolor);
  background-repeat: no-repeat;
  background-size: contain;
  font-family: "Josefin Sans";
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: aliceblue;
  padding-top: 50px;
}

main {
  display: flex;
  flex-direction: column;
  background-color: #;
  width: 40vw;

}
header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
h1 {
  color: #fff;
  letter-spacing: 10px;
}
div.item-container{
  background-color: #fff;
  width:100%;
  height: 40px;
  border-radius: 5px;
}
input[type="checkbox"] {
  border-radius: 100%;
  visibility: hidden;
}
.check-mark {
  height: 30px;
  width: 30px;
  border-radius: 15px;
  border: 1px solid;
  margin-right: 15px;
}
input[type="text"]{
  height: 100%;
  border: 0;
}
input[type="text"]:active, input[type="text"]:focus {
  border: 0;
  outline: 0;
}
main p {
  margin: 0 auto;
}

/*todo list*/
.todo-list {
  background-color: #fff;
  margin: 20px 0;
  padding: 5px 8px 15px;
  border-radius: 5px;
  width: 100%;
}
.todo-item {
  border-bottom: 1px solid var(--color-text-inactive-bold);
  padding: 15px;
}
.todo-item p{
  display: inline;
}
.todo-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
.remainder {
  color: var(--color-text-inactive-bold);
}
.filter-links {
  display: flex;
  justify-content: space-between;
  column-gap: 10px;
}
.link-text {
  cursor: pointer;
  color: var(--color-text-inactive-bold);
  font-weight: bold;
}

/* DARK THEME */
body.dark {
  background-image: var(--dark-bg-image);
  background-color: var(--dark-bgcolor);
  color: var(--dark-color-text);
}
div.todo-list.dark {
  background-color: var(--dark-bgcolor-faded);
}
div.item-container.dark {
  background-color: var(--dark-bgcolor-faded)!important;
}
#new-todo.dark {
  background-color: var(--dark-bgcolor-faded);
}

/* MOBILE SCREENS*/
@media (max-width: 375px) {
  body {
    background-image: var(--mobile-light-bg-image);
    font-size: 0.7rem;
  }
  body.dark {
    background-image: var(--mobile-dark-bg-image);
  }
  main{
    width: 330px;
  }
  #new-todo.dark {
    color: var(--dark-color-text);
  }
  
}
