* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --dark-color-text: #fff;
  --dark-bgcolor: #;
  --dark-bg-image: url("images/bg-desktop-dark.jpg");
  --light-color-text: #;
  --light-bgcolor: hsl(0, 0%, 98%);
  --light-bg-image: url("images/bg-desktop-light.jpg");
  --color-text-inactive: #;

}
.hidden {
  display: none;
}
body {
  background-image: var(--light-bg-image);
  background-color: var(--light-bgcolor);
  background-repeat: no-repeat;
  background-size: contain;
  font-family: "Josefin Sans";
  font-size: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: aliceblue;
  padding-top: 50px;
}

main {
  background-color: #;
  width: 40vw;

}
header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
h1 {
  color: #fff;
  letter-spacing: 10px;
}
div.item-container{
  background-color: var(--light-bgcolor);
  width:100%;
  height: 40px;
  border-radius: 5px;
}
input[type="checkbox"] {
  border-radius: 100%;
}
input[type="text"]{
  height: 40px;
  border: 0;
}
input[type="text"]:active, input[type="text"]:focus {
  border: 0;
  outline: 0;
}

.todo-footer {
  display: flex;
  justify-content: space-between;
}
.filter-links {
  display: flex;
  justify-content: space-between;
  column-gap: 10px;
}
.link-text {
  cursor: pointer;
  color: var(--color-text-inactive);
  font-weight: bold;
}
